body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0e073b;
  margin: 0;
  font-family: Arial, sans-serif;
}

.calculator {
  background-color: #273cb1;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  max-width: 300px;
}

.display {
  grid-column: 1 / span 4;
  text-align: right;
  font-size: 24px;
  padding: 10px;
}

.btn {
  font-size: 20px;
  padding: 10px;
  text-align: center;
  background-color: #e0e0e0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #d0d0d0;
}
